
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --green:#3B823E;
    --dark-green: #01370C;
    --black:#343434;
    --white:#FFFFFF;
    --bg-color: #F0F5F0;
    
    --main-font: "Open Sans", sans-serif;
    --headers-font: "Unna", sans-serif;

    --font-special: 300;
    --font-thin: 400;
    --font-bold: 700;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    text-decoration: none;
}

body{
    background-color: var(--bg-color);
}

main{
    margin: 0 120px;
}

main section{
    margin-bottom: 120px;
}

.anounce{
    display: flex;
    color: var(--white);
    background-color: var(--dark-green);
    height: 40px;
    padding: 8px 120px;
    justify-content: space-between;
    align-items: center;
}

.anounce p{
    justify-content: center;
    font-weight: var(--font-thin);
}

.icons{
    display: flex;
    gap: 56px;
    justify-content: flex-end;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 88px;
    font-weight: 600;
    font-size: 18px;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    gap: 56px; 
}

.navigation a{
    color: var(--black);
}

.search-form{
    display: flex;
    gap: 12px;
    color: rgba(52, 52, 52, 0.5);
    font-size: 16px;
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 12px;
    width: 202px;
    height: 40px;
    align-items: center;
}

.positions{
    margin-top: 32px;
}

.positions-all{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--green);
    font-weight: var(--font-thin);
    font-size: 16px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.positions-main{
    display: flex;
    justify-content: space-between;
}

.positions-main a{
    color: inherit;
}

.positions-main img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0 8px 23px 0 rgba(80, 107, 82, 0.16);
    margin-bottom: 24px;
}

.positions-main figcaption{
    font-weight: var(--font-bold);
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    
    color: var(--black);
}

.title{
    text-align: center;
    margin-bottom: 28px;
}

.title p{
    font-family: var(--headers-font);
    font-weight: var(--font-bold);
    font-size: 48px;
    color: var(--black);
}

.best-plants{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.best-plants img{
    width: 344px;
    height: 318px;
}

.sale-box{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: var(--white);
    padding: 20px;
    gap: 16px;
    box-shadow: 0 8px 23px 0 rgba(80, 107, 82, 0.13);
}

.sale-box-large{
    width: 384px;
}

.sale-box-mini{
    width: 282px;
}

.sale-box img{
    border-radius: 8px;
    object-fit: cover;
}

.sale-box-info{
    font-size: 20px;
}

.btn{
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--green);
    cursor: pointer;
    color: var(--bg-color);
    font-weight: var(--font-bold);
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
}

.btn-large{
    width: 344px;
}

.btn-mini{
    width: 242px;
}

.trend-plants{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.trend-plants img{
    width: 242px;
    height: 176px;
}

.name{
    font-weight: var(--font-bold);
}

.price{
    font-weight: var(--font-thin);
}

.blog{
    display: flex;
    justify-content:space-between;
}

.blog-box{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 16px;
    align-items: center;
    width: calc((100% - 24px) / 2);
    height: 286px;
    box-shadow: 0 8px 23px 0 rgba(80, 107, 82, 0.13);
}

.blog-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.blog-descrip::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(80, 107, 82, 0.25);
    z-index: -1;
}

.blog-descrip{
    position: absolute;
    inset: 0;
    z-index: 2;
    
    padding: 40px 94px;
    gap: 28px;
    text-align: center;
    font-weight: var(--font-thin);
    font-size: 28px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

