
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --green:#3B823E;
    --dark-green: #01370C;
    --black:#343434;
    --white:#FFFFFF;
    --bg-color: #F0F5F0;
    
    --main-font: "Open Sans", sans-serif;
    --headers-font: "Unna", sans-serif;
}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    background-color: var(--bg-color);
    
}

.anounce{
    display: flex;
    color: var(--white);
    background-color: var(--dark-green);
    height: 40px;
    padding: 8px 120px;
    justify-content: space-between;
    align-items: center;
}

.anounce p{
    justify-content: center;
    font-weight: 400;
}

.icons{
    display: flex;
    gap: 56px;
    justify-content: flex-end;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 88px;
    font-weight: 600;
    font-size: 18px;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    gap: 56px; 
}

.navigation a{
    color: var(--black);
    text-decoration: none;
}

.search-form{
    display: flex;
    gap: 12px;
    color: rgba(52, 52, 52, 0.5);
    font-size: 16px;
    border: 1px solid var(--black);
    border-radius: 6px;
    padding: 12px;
    width: 202px;
    height: 40px;
    align-items: center;
}

.positions{
    margin: 32px 120px 120px;
}

.positions-all{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--green);
    font-weight: 400;
    font-size: 16px;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.positions-main{
    display: flex;
    justify-content: space-between;
}

.positions-main img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    box-shadow: 0 8px 23px 0 rgba(80, 107, 82, 0.16);
    margin-bottom: 24px;
}

.positions-main figcaption{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}